.App {
  background-color: #aec4bb;
  flex: 1;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.sidebar {
  background-color: #75806d;
}

.nav-link {
  color: white;
}
.nav-link:hover {
  color: black;
}
.footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
  background-color: #8daa76;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
  border-style: ridge;
}
